node_modules
**/node_modules
.next
**/.next
dist
**/dist
.git
.gitignore
*.log
npm-debug.log*
.env
.env.local
.env.*.local
coverage
**/coverage
.vscode
.idea
*.tsbuildinfo
**/*.tsbuildinfo
README.md
docs
docker-compose.yml
